.vscode/**
.vscode-test/**
out/test/**
src/**
.yarnrc
vsc-extension-quickstart.md
**/tslint.json
**/*.map
**/__tests__/**
**/.pytest_cache/**
**/*.pyc
**/__pycache__/**
.venv/lib/**
.venv/share/**
.venv/include/**
**/node_modules/**/.cache/**
node_modules
package-lock.json