# Ignore build artifacts
*.vsix

# TODO: will change this once I add bundler, Fine with large size for now
# **/node_modules

# Ignore source control and editor configs
.git/
.gitignore
.vscode/

# Ignore everything inside the 'server' directory...
server/
# ...but DO include the compiled 'dist' folder.
!server/dist/

# Ignore test folders (TODO: FUTURE)
test/